@import "node_modules/modern-normalize/modern-normalize.css";

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-black);
  background-color: #e5e5e5;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
input {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

svg{
  display: block;
}

:root {
  --main-blue: #b4b7ff;
  --main-green: #97eab9;
  --main-yellow: #ffd280;
  --main-white: #ffffff;
  --main-black: #1d1d1d;
  --main-gray: #8c8c8c;
  --border-opacity: rgba(255, 255, 255, 0.6);
  --main-pink: #fbe0dc;
  --aсcent-pink: #ff868e;
}
